.container {
  color: whitesmoke;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
.row {
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}
