.container {
  color: whitesmoke;
  background-color: #2c1945;
}
.row {
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}
