.container {
  color: whitesmoke;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  max-width: 567px;
  margin: 0 auto;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 1px solid darkslategray;
}

h1 {
  line-height: 45px;
  font-weight: bold;
  color: #b1adeb;
  font-size: 45px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  line-height: 19px;
  list-style: none;
}

footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: small;
  color: lightgrey;
  padding-top: 5px;
}

a {
  color: #a19ce7;
}

a:hover {
  color: #736Bdb;
}
