.WeatherForecast {
    text-align: center;
    margin: 20px 0;
}
.WeatherForecast canvas {
    display: block;
}

.WeatherForecast .fhours {
    color: #b1adeb;
    font-weight: bold;
}

.WeatherForecast .ftemp {
    color: #b1adeb;  
    font-weight: bold; 
}