.WeatherForecast {
    text-align: center;
    margin: 20px 0;
}
.WeatherForecast canvas {
    display: block;
    margin: 20px;
}

.WeatherForecast .fhours {
    color: #b1adeb;
    font-weight: bold;
    font-size: 15px;
}

.WeatherForecast .ftemp {
    color: #b1adeb;  
    font-weight: bold; 
    font-size: 15px;
}

.WeatherForecastPreview .nopadding {
    padding: 0 !important;
    margin: 0 !important;
}