.Weather {
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.Weather .searchIcon {
    display: inline-block;
    position: relative;
    right: 20px;
  }

.Weather .btn {
    color: #b1adeb;
}

.Weather .weatherinfo {
    font-size: small;
}

.Weather .desc {
    color: #b1adeb;
    font-weight: bold;
}

.Weather .formatdate {
    font-size: 13px;
    line-height: 20px;
}

.Weather .text-capitalize {
    color: #b1adeb;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.Weather canvas {
    margin: 12px auto;
    display: inline-block;
}

.Weather .temperature {
    font-size: 55px;
    padding: 0;
    margin-left: 10px;
}

.Weather .unit {
    font-size: 15px;
    vertical-align: 30px;
}