.Weather {
    margin-top: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.Weather .searchIcon {
    display: inline-block;
    position: relative;
    right: 20px;
  }

.Weather .btn {
    color: #b1adeb;
}

.Weather .col-6 {
    padding: 10px;
}

.Weather .weatherinfo {
    font-size: 13px;
    margin-left: 20px;
}

.Weather .desc {
    color: #b1adeb;
    font-weight: bold;
    font-size: 13px;
}

.Weather .formatdate {
    font-size: 13px;
    line-height: 30px;
    color: lightgrey;
    font-style: italic;
}

.Weather .text-capitalize {
    color: #b1adeb;
    font-size: 21px;
    font-weight: bold;
    line-height: 42px;
}

.Weather canvas {
    display: block;
    margin: 20px auto;
}

.Weather .temperature {
    font-size: 60px;
    margin-left: 10px ;
    
}

.Weather .unit {
    font-size: 15px;
    vertical-align: 32px;
    font-weight: bold;
}

.Weather .forecasttitle {
    margin-left: 20px;
    color: grey;
}
